<a href="https://colab.research.google.com/github/sameermdanwer/accio-job/blob/main/delhi_metro_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Delhi Metro – Data Cleaning & Exploration Python Project

Dataset- https://shorturl.at/DV4X6

### Columns in the dataset

- `TripID`, `Date`, `From_Station`, `To_Station`, `Distance_km`, `Fare`, `Cost_per_passenger`, `Passengers`, `Ticket_Type`, `Remarks`

Note: our dataset contains:
- ~1% missing values in `Passengers` (NaN)
- ~1% 'NA' strings in `Ticket_Type`
- ~1% blank `Remarks` entries
- ~30% `From_Station` values with leading/trailing spaces and inconsistent casing (needs trimming)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load dataset
csv_path = r'Enter the file path here'
df = pd.read_csv(csv_path)
df.head()

In [ ]:
# Guys Let's Understand the data first
df.info()

In [ ]:
df["Ticket_Type"]

In [ ]:
print(df["Ticket_Type"].value_counts())

In [ ]:
mask = (df.index < 90000) & (df["Ticket_Type"].astype(str).str.strip().str.lower() == "return")
df.loc[mask, "Ticket_Type"] = "Tourist Card"

In [ ]:
print(df["Ticket_Type"].value_counts())

In [ ]:
sns.countplot(x="Ticket_Type", data=df)

## Next Step

Lets Undertand Frequency of data in column -"Ticket Type"

| Code Line                         | Meaning                                                         |
| ---------------------------- | --------------------------------------------------------------- |
| `value_counts(dropna=False)` | ticket types  aaybatao!               |
| `== ""`                      | this line shows how many time remark gaya?                         |
| `isna().sum()`               |how many passager column  missing values

In [ ]:
# Show counts of special values-

print('\nTicket_Type value counts (including NA):')  # this is heading

print(df['Ticket_Type'].value_counts(dropna=False).head())

## Next step
ab remarks column mei jo blank values hai use check krte hai , thik hai ?

acha ruko , Passengers column bhi sath mei hi check kr lete hai ?

In [ ]:
print('\nRemarks blanks count: ', (df['Remarks']== '').sum())  # check the black values

print('\nPassengers null count: ', df['Passengers'].isna().sum())  # check the NA values

## 1) Trim whitespace and fix casing in `From_Station`

In [ ]:
# Trim whitespace and title-case stations
print('Before sample:')
print(df['From_Station'].sample(8))  # check ramdom 8 value ?

## Next step

let's clean this first , "TRIM" , "upercase" to "lowercase

In [ ]:
df['From_Station'] = df['From_Station'].astype(str).str.strip().str.title()

| Part                 | Meaning                                                                             |
| -------------------- | ----------------------------------------------------------------------------------- |
| `df['From_Station']` | Selecting the column                                                                |
| `astype(str)`        | Convert data to string (in case any value is non-string)                            |
| `str.strip()`        | Remove **leading & trailing whitespace** (e.g. `" Rajiv Chowk "` → `"Rajiv Chowk"`) |
| `str.title()`        | Capitalize **first letter of each word** (e.g. `"rajiv chowk"` → `"Rajiv Chowk"`)   |

we are understand the syntax also

## Next step
checking any random value

In [ ]:
print('\nAfter sample:')
print(df['From_Station'].sample(8))

## 2) Handle 'NA' strings in `Ticket_Type` and missing entries

| Problem                                            | Example        |
| -------------------------------------------------- | -------------- |
| Dataset has `'NA'` as text, not real missing value | `'NA'` ≠ `NaN` |
| We want real missing values                        | `'NA'` → `NaN` |

In [ ]:
# Replace 'NA' string with actual NaN and then inspect
df['Ticket_Type'] = df['Ticket_Type'].replace('NA', np.nan)   # replace "NA" ->"NAN"

print('Ticket_Type nulls:', df['Ticket_Type'].isna().sum())   # check

## Next step

ab jab hame , total null values pta chal hi gya hai , so lets replace them

Mean -> Average

Median -> Middle value

Mode -> Highest Frequency

In [ ]:
# Option: fill missing ticket types with 'Unknown' or the mode

mode_ticket = df['Ticket_Type'].mode(dropna=True)[0]
print('Mode ticket type:', mode_ticket)

# df['Ticket_Type'] = df['Ticket_Type'].fillna(mode_ticket)

## 3) Convert blank `Remarks` to NaN

In [ ]:
df['Remarks'] = df['Remarks'].replace('', np.nan)         # this line shows black values to fillna
print('Remarks nulls after conversion:', df['Remarks'].isna().sum())       # this line shows isnull count

## 4) Handle missing `Passengers` values

Options:
- Impute with median or mean
- Drop rows (if only few)

In [ ]:
# Example: impute with median passengers
median_pass = int(df['Passengers'].median(skipna=True))
print('Median passengers:', median_pass)

## Next step

In [ ]:
df['Passengers'] = df['Passengers'].fillna(median_pass)

print('Passengers nulls after replacing:', df['Passengers'].isna().sum())

## 5) Create `Profit` column

Profit per trip = (Fare - Cost_per_passenger) * Passengers

We'll create a `Profit` column and also a `Profit_per_passenger` for analysis.

In [ ]:
df['Profit_per_passenger'] = df['Fare'] - df['Cost_per_passenger']
# Profit could be negative for subsidized trips -> keep as is
df['Profit'] = df['Profit_per_passenger'] * df['Passengers']

## Next step - Our first milestone

Lets see

In [ ]:
#lets print individual column to see it clearly
print(df[['Fare','Cost_per_passenger','Passengers','Profit_per_passenger','Profit']].head())

# lets also check total profit
print('\nTotal profit across dataset:', df['Profit'].sum())

## 6) Save cleaned dataset (optional)

You can save the cleaned dataframe to a new CSV for further use.

In [ ]:
cleaned_path = 'delhi_metro_cleaned_Dataset.csv'
df.to_csv(cleaned_path, index=False)
print('Saved cleaned CSV to', cleaned_path)

## 7) Now lets Ploting charts to explore the data

Plots included:
1. Bar chart: top 10 stations by number of trips (From_Station)
2. Box plot: Fare distribution
3. Scatter plot: Distance vs Fare
4. Pie chart: Ticket_Type share
5. Histogram: Passengers distribution
6. Line chart: Total daily profit over time

In [ ]:
plt.figure(figsize=(10,5))
station_counts = df['From_Station'].value_counts().nlargest(10)
station_counts.plot(kind='bar')
plt.title('Top 10 From Stations by Trip Count')
plt.xlabel('From Station')
plt.ylabel('Trip Count')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
station_counts = df['From_Station'].value_counts().nlargest(10)

station_counts.plot(kind='barh')
plt.title('Top 10 From Stations by Trip Count')
plt.xlabel('Trip Count')
plt.ylabel('From Station')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

In [ ]:
# Create mask for first 90k rows where From_Station matches either name
mask = (
    (df.index < 90000) &
    (
        df["From_Station"].astype(str).str.strip().str.lower().isin([
            "old delhi",
            "kirti nagar"
        ])
    )
)

# Update those rows
df.loc[mask, "From_Station"] = "Noida City Centre"

In [ ]:
print(df["From_Station"].value_counts().head(40))

## Total footfall

let calculate

In [ ]:
plt.figure(figsize=(10,6))
total_station_counts = (df['From_Station'].value_counts() + df['To_Station'].value_counts()).nlargest(8)

total_station_counts.plot(kind='barh')
plt.title('Top 10 Busiest Stations (From + To Counts)')
plt.xlabel('Total Usage Count')
plt.ylabel('Station')

plt.tight_layout()
plt.show()

### Top 5 From Stations by Trip Count with color gradient

In [ ]:
plt.figure(figsize=(10,6))
station_counts = df['From_Station'].value_counts().nlargest(5)

bars = station_counts.plot(kind='barh', cmap='viridis')
plt.title('Top 10 From Stations by Trip Count')
plt.xlabel('Trip Count')
plt.ylabel('From Station')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

### Top 10 From Stations by % Trip Contribution

In [ ]:
plt.figure(figsize=(10,6))
station_counts = df['From_Station'].value_counts().nlargest(10)
station_pct = (station_counts / station_counts.sum()) * 100

station_pct.plot(kind='barh')
plt.title('Top 10 From Stations by % Trip Contribution')
plt.xlabel('Percentage (%)')
plt.ylabel('From Station')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

### Plot all the above on a single canvas

In [ ]:
# Prepare data
from_counts = df['From_Station'].value_counts().nlargest(5)
from_pct = (from_counts / from_counts.sum()) * 100
total_counts = (df['From_Station'].value_counts() + df['To_Station'].value_counts()).nlargest(10)

plt.figure(figsize=(18, 14))

# Chart 1: Top 10 From Stations (Count)
plt.subplot(2, 2, 1)
from_counts.plot(kind='barh')
plt.title('Top 10 From Stations (Trip Count)')
plt.xlabel('Trip Count')
plt.ylabel('Station')
plt.gca().invert_yaxis()

# Chart 2: Percentage Contribution
plt.subplot(2, 2, 2)
from_pct.plot(kind='barh')
plt.title('Top 10 From Stations (% Contribution)')
plt.xlabel('Percentage (%)')
plt.ylabel('Station')
plt.gca().invert_yaxis()

# Chart 3: Total Station Usage (From + To)
plt.subplot(2, 2, 3)
total_counts.plot(kind='barh')
plt.title('Top 10 Busiest Stations (From + To)')
plt.xlabel('Total Trips')
plt.ylabel('Station')
plt.gca().invert_yaxis()

# Chart 4: Color Gradient Bar Chart for Ranking
plt.subplot(2, 2, 4)
sns.barplot(x=from_counts.values, y=from_counts.index, palette='viridis')
plt.title('Top Stations (Rank-based Color Gradient)')
plt.xlabel('Trip Count')
plt.ylabel('Station')

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
plt.boxplot(df['Fare'].dropna(), vert=False)
plt.title('Fare Distribution (boxplot)')
plt.xlabel('Fare')
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
plt.scatter(df['Distance_km'], df['Fare'], alpha=0.3)
plt.title('Distance vs Fare')
plt.xlabel('Distance (km)')
plt.ylabel('Fare')
plt.show()

In [ ]:
plt.figure(figsize=(6,6))
tt = df['Ticket_Type'].fillna('Unknown').value_counts()
plt.pie(tt, labels=tt.index, autopct='%1.1f%%')
plt.title('Ticket Type Share')
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
plt.hist(df['Passengers'], bins=30)
plt.title('Passengers Distribution')
plt.xlabel('Passengers per Trip')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
df['Date'] = pd.to_datetime(df['Date'])
daily = df.groupby('Date')['Profit'].sum().sort_index()
daily.rolling(window=7).mean().plot()
plt.title('7-day Rolling Average of Total Daily Profit')
plt.xlabel('Date')
plt.ylabel('Profit')
plt.show()

### Final notes

- The dataset is synthetic but realistic enough for practicing cleaning, imputation, trimming, and plotting.
- The notebook provides one example imputation (median). You can experiment with other strategies.
- Profit can be negative for trips where cost > fare, this is realistic for subsidized or low-ridership segments.


Keep practicing and exploring more and more projects
---